/*
    h1{
      color:#D0B5B0;
      font-weight:100;
      margin-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 5px;
      border-bottom: 20px;
    }

   */

body {
  background: #2d2d32;
  font-family: "Poppins", sans-serif;
}

body p {
  font-size: 15px;
  font-weight: 200;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1b;
  margin-top: 0;
  padding-top: 1.5em;
  height: 7.5rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  max-width: 60ch;
  font-size: larger;
  text-align: center;
  justify-content: center;
  transform: scale(0.94);
  color: #f7e1e1;
  letter-spacing: 5px;
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  margin-bottom: 2rem;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.9s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.9s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.9s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.9s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.9s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/*navigation bar*/

.navbar {
  height: 2em;
  text-align: center;
  color: #e7e6e5;
}

.nav-item {
  color: #999;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px 66px;
  margin: 0.2em;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-color: #f7e1e1;
}

.nav-item:hover {
  border: none;
  background: rgba(208, 181, 176, 0.41);
  background: rgba(208, 181, 176, 1);
}

/*main picture */
.container {
  margin-top: 100px;
}

.image_section {
  margin-top: 2em;
  padding: 34px;
  background-color: #2d2d32;
}

.main {
  height: 100vh;
  width: 100vw;
  padding-top: 60px;
}

.container_image {
  display: inline;
  height: 70px;
}
.con1 {
  position: absolute;
  background-image: url(photo-1620359536552-e165a11d34c9.jfif);
  background-size: 2700px 1500px;

  height: 30vh;
  width: 15vw;

  background-position: 0 50%;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  animation: con1 10s 1, con12 10s 1;
  animation-delay: 4s, 14s;
  margin-top: 10rem;
}
.con2 {
  position: absolute;
  background-image: url(photo-1620359536552-e165a11d34c9.jfif);
  background-size: 2700px 1500px;

  height: 50vh;
  width: 25vw;

  background-position: -10vw 50%;
  left: 10vw;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: con2 10s 2;
  animation-delay: 4s;
  margin-top: 10rem;
}
.con3 {
  position: absolute;
  background-image: url(photo-1620359536552-e165a11d34c9.jfif);
  background-size: 2700px 1500px;
  overflow: hidden;
  height: 90vh;
  width: 40vw;
  left: 25vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  background-position: -35vw 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: con3 10s 2;
  animation-delay: 4s;
  margin-top: 10rem;
  background-repeat: no-repeat;
}
.con4 {
  position: absolute;
  overflow: hidden;
  background-image: url(photo-1620359536552-e165a11d34c9.jfif);
  background-size: 2854px 1500px;

  height: 80vh;
  width: 25vw;
  left: 60vw;
  background-position: -70vw 50%;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: con4 10s 2;
  animation-delay: 4s;
  margin-top: 10rem;
}

@keyframes con1 {
  0% {
  }
  50% {
    width: 95vw;
  }
}
@keyframes con12 {
  0% {
  }
  50% {
    background-position: Calc(0vw - 40px) 50%;
  }
}
@keyframes con2 {
  0% {
  }
  50% {
    background-position: Calc(-10vw - 40px) 50%;
  }
}
@keyframes con3 {
  0% {
  }
  50% {
    background-position: Calc(-35vw - 40px) 50%;
  }
}
@keyframes con4 {
  0% {
  }
  50% {
    background-position: Calc(-70vw - 40px) 50%;
  }
}

/*container second*/

.container-xxl_second {
  background-color: #2d2d32;
  height: 5rem;
  text-align: justify;
  margin-top: 4rem;
}

/*******************container third***********************************/

.container_third {
  color: #ffffff;
  padding-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
}

.card.btn.btn-dark {
  background-color: #ce4257;
  color: #ffffff;
}

.btn-dark:hover {
  background-color: rgba(208, 181, 176, 1);
}
.card-body {
  background: #1a1a1b;
  border: #cac6c6;
  box-shadow: #fffefe;
  color: #ffffff;
}

p.text-muted {
  color: #fcfcfc;
}

.fas.fa-quote {
  color: #ffffff;
}

.card {
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
}

.mb-3 {
  color: #fffefe;
}

.fa-quote-left {
  color: #ffffff;
}

/********************Footer****************/
.container.my-5 {
  width: 100%;
}

footer {
  background-color: #1a1a1b;
  justify-content: center;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 2500px;
}

.col-md-3 .btn {
  margin-bottom: 5px;
  width: 9rem;
  color: rgb(235, 230, 230);
  background: rgba(21, 21, 21, 0.5);
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 3rem;
  border-color: #ffffff;
}

.col-md-2 .btn {
  margin-bottom: 5px;
  width: 9rem;
  color: rgb(235, 230, 230);
  background: rgba(21, 21, 21, 0.5);
  border-color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 3rem;
}

.text-uppercase {
  color: #ffffff;
}

.text-uppercase:hover {
  color: #070707;
}
.col-md-2 .btn:hover {
  background-color: rgb(250, 225, 225);
  border-color: #2d2d32;
  text-decoration: underline;
  font-weight: 300;
}

.col-md-3 .btn:hover {
  background-color: rgb(250, 225, 225);
  border-color: #2d2d32;
  text-decoration: underline;
}

.container_footer {
  margin-top: 0;
}

footer h6 {
  justify-content: center;
}

.container {
  padding: 0;
}

.btn-secondary {
  border-color: #ffffff;
}
