

    
    
    /*
    h1{
      color:#D0B5B0;
      font-weight:100;
      margin-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 5px;
      border-bottom: 20px;
    }

   */

   body{
    background:#2D2D32;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #fffefe;
  }
  
    
    
header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#1a1a1b;
        margin-top: 0;
        padding-top: 1.5em;
        height: 7.5rem;
        box-sizing: border-box;
      }

h1 {
        font-family: 'Poppins', sans-serif;
        max-width: 60ch;
        font-size: larger;
        text-align: center;
        justify-content: center;
        transform: scale(0.94);
        color:#f7e1e1;
        letter-spacing: 5px;
        animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
      margin-bottom: 2rem;
      }
      @keyframes scale {
        100% {
          transform: scale(1);
        }
      }
      
      span {
        display: inline-block;
        opacity: 0;
        filter: blur(4px);
        
      }
      
      span:nth-child(1) {
        animation: fade-in 0.9s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      
      span:nth-child(2) {
        animation: fade-in 0.9s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      
      span:nth-child(3) {
        animation: fade-in 0.9s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      
      span:nth-child(4) {
        animation: fade-in 0.9s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      
      span:nth-child(5) {
        animation: fade-in 0.9s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      
      
      
      @keyframes fade-in {
        100% {
          opacity: 1;
          filter: blur(0);
        }
      }

/*navigation bar*/

   




.navbar {
  height: 2em;
  text-align: center;
  color: #E7E6E5;
}


.nav-item{
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding: 6px 66px;
  margin: 0.2em;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.nav-item:hover{
  border:none;
  background:rgba(208, 181, 176, 0.41);
  background:rgba(208, 181, 176, 1);

  
}





/*container second*/



  /*******************container third***********************************/
.container_first {
  margin: 1em;
  height: 7rem;
  


}

.img-fluid{
  height: 90vh;
}


.container_second-sm{
  padding-left: 10em;
  padding-right: 10rem;
  color: #ffffff;
}


.container_content{
  margin-left: 2em;
  margin-right: 2em;
  color: #fffefe;
}

.container_content h3{
  color: #fffefe;
  justify-content: center;
  text-decoration: underline;
}

.container_second-sm p{
  margin-top: 1em;
}

.container_second-sm h4{
  text-align: center;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1em;
  color: #ffffff;
}

hr{
  margin: 2em;
}

/********************************Cards ****************************/





.card-body {
  background: #1a1a1b;
  border: #cac6c6;
  box-shadow: #fffefe;
  color: #ffffff;
 
}

.card {
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
}

 
   


.card-body {
  background-color: #494952;
  border-radius: 7px;
}
  
  

.container.my-5{
  width: 100%;
  }

footer{
  background-color:#1a1a1b;
  justify-content: center;
  font-family: "Overpass", Arial, Helvetica, sans-serif;

}

.container {
  max-width: 2500px;
}





.col-md-3 .btn   {
  margin-bottom: 5px;
  width: 9rem;
  color:rgb(235, 230, 230);
  background:rgba(21, 21, 21, 0.5);
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  height: 3rem;
  border-color: #ffffff;
}

.col-md-2 .btn {
  margin-bottom: 5px;
  width: 9rem;
  color:rgb(235, 230, 230);
  background:rgba(21, 21, 21, 0.5);
  border-color: #ffffff;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  height: 3rem;
}

.text-uppercase{
  color: #ffffff;
}

.text-uppercase:hover{
  color:#070707;
  
}
.col-md-2 .btn:hover{
  background-color: rgb(250, 225, 225);
  border-color: #2D2D32;
  text-decoration: underline;
  font-weight: 300;
}

.col-md-3 .btn:hover{
  background-color: rgb(250, 225, 225);
  border-color: #2D2D32;
  text-decoration: underline;
}

footer{
  width: 100vw;
}

.container_footer{
  width: 100vw;
  margin-top: 0;
}

footer h6{
  justify-content: center;
}

.container{
  padding: 0;
}

.btn-secondary{
  border-color: #ffffff;
}



